*{
    font-family: "Open Sans";    
}
h1 {
    font-weight: bold;
}

body {
    background-color: lavender;
}

#center{
    width: 500px;
    margin: auto;
}

.center-medical{
    width: 300px;
    height: 400px;
    margin: auto;
    border: 2px solid black;
}

#imgpos {
    margin: auto;
    width: 300px;
    height: 300px;
    margin-top: 80px
}